<h2>Resend confirmation instructions</h2>
<div class="col-sm-6">
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'form-horizontal'}) do |f| %>

  <div class="form-group">
    <%= f.label :email, class: "control-label" %>
		<%= f.email_field :email, autofocus: true, class: "form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), required: true %>
  </div>


  <div class="form-group">
    	<%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %>
  </div>
<% end %>

<div class="form-group">
		<%= render "devise/shared/links" %>
	</div>
</div>
