<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div class="col-sm-6">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
  <%#= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :first_name, class: "control-label" %>
    <%= f.text_field :first_name, class: "form-control", autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :middle_name, class: "control-label" %>
    <%= f.text_field :middle_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name, class: "control-label" %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "control-label" %>
    <%= f.email_field :email,  class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :phone, class: "control-label" %>
    <%= f.text_field :phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "control-label" %> 
      
      <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
      <i>(leave blank if you don't want to change it)</i><br />
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>

  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: "control-label" %>
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= f.label :current_password, class: "control-label" %> 
    <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
    <i>(we need your current password to confirm your changes)</i><br />
  </div>

  <div class="form-group">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "btn btn-primary", method: :delete %></p>


<div class="form-group">
    <%= link_to "Back", :back %>
  </div>
</div>

