<h2>Resend unlock instructions</h2>
<div class="col-sm-6">
	<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
	  
		<div class="form-group">
			<%= f.label :email, class: "control-label"%><br />
			<%= f.email_field :email, class: "form-control", autofocus: true, required: true %>
		</div>

		<div class="form-group">
			<%= f.submit "Resend unlock instructions", class: 'btn btn-primary'%>
		</div>
	<% end %>
		<div class="form-group">
			<%= render "devise/shared/links" %>
		</div>
</div>