<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-horizontal'}) do |f| %>
  
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.label :password, "New password", class: "col-sm-2 control-label" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <div class="col-sm-6">
      <%= f.password_field :password, class: "form-control", autofocus: true, autocomplete: "off", required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm new password", class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", required: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.submit "Change my password" %>
    </div>
  </div>
<% end %>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-6">
    <%= render "devise/shared/links" %>
  </div>
</div>
