<h2>Log in</h2>
<div class="col-sm-6">
<%= form_for @user, url: session_path(resource_name), html: {class: 'form-horizontal'} do |f| %>
  <div class="form-group">
    <%= f.label :email, class: "control-label" %>
    <%= f.email_field :email, autofocus: true, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "control-label" %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control", required: true %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="form-group">
    <%= f.submit "Log in", class: 'btn btn-primary' %>
  </div>

<% end %>
  <div class="form-group">
    <%= render "devise/shared/links" %>
  </div>
</div>



